@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* COLOR PALETTE */

:root {
    --BGCOLOR: rgb(231, 84, 11);
    --DARKBGCOLOR: #383838; 
    --COMP-COLOR:#ffc606;
    --FONTCOLOR: rgb(255, 255, 255);
    --SECOND-FONT-COLOR: rgb(247, 237, 234);
    --THIRD-FONT-COLOR: rgb(244, 244, 243);
    --CONTRAST-COLOR: rgb(0, 0, 0);
}

/* RESET STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    background-color: var(--BGCOLOR);
    color: var(--FONTCOLOR);
}

/* UTILITY STYLES */

.nowrap {
    white-space: nowrap;
}

.inner-container {
    width: 80%;
    margin-inline: auto;
}

/* BAKCGORUND COLORS */

header, main {
    background-color: var(--BGCOLOR);
}

.projects-container {
    background-color: var(--FONTCOLOR);
    color: var(--DARKBGCOLOR);
}

footer {
    background-color: var(--CONTRAST-COLOR);
}

/* GENERAL STYLES */

header .inner-container {
    min-height: min(15vh, 100px);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 2vh;
}

.myName a:any-link {
    color: var(--SECOND-FONT-COLOR);
    font-size: 1.2rem;
    text-decoration: none;
}

header .inner-container nav {
    font-size: 1rem;
 /*    width: 25%;
    text-align: right; */
   /*  display: flex;
    justify-content: space-around;
    align-items: center; */
}

header nav a:any-link {
    color: var(--SECOND-FONT-COLOR);
    text-decoration: none;
    margin-inline: 1rem;
}

header nav a:hover, header nav a:focus {
    color: var(--COM-COLOR);
}

main .inner-container {
    min-height: 95vh;
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    place-items: center; */
    

}

/* main h1 {
    font-weight: 900;
    letter-spacing: 2px;
} */

.content-conatiner {
    /* flex-grow: 3;
    flex-shrink: 1; */
    flex: 3 1 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.linkedin-link-content {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.2rem;
}

.linkedin-link-content p a:any-link {
    color: var(--FONTCOLOR);
}

.doc-icon {
    width: 1.3rem;
}

.address-content {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    font-size: 1.2rem;
}

.location-icon {
    width: 1.5rem;
}

.animated-icon-container {
    flex: 1 1 40vw;
    place-self: center;
    text-align: center;
}

.projects-container .inner-container {
    /* height: 60vh; */
    padding: 10vh 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    gap: 2rem;
}

.projects-container h2 {
    margin-bottom: 1.5rem;
}

.projects-container ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2rem;

}

/* .projects-container ul li {
    padding: 2rem;
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    background-color: var(--BGCOLOR);
    border-radius: 15%;

} */

.projects-container ul li a:any-link {
    color: var(--FONTCOLOR);
    text-decoration: none;
    padding: 2rem;
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    background-color: var(--BGCOLOR);
    border-radius: 15%;
    font-weight: bolder;

}

.projects-container ul li:hover, .projects-container ul li:focus-within {
    transform: scale(1.1);
    transition: all 0.1s;
}

footer .inner-container {
    min-height: min(20vh, 150px);
    background-color: var(--CONTRAST-COLOR);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;

}
.footer-references {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-references a:any-link {
    color: var(--FONTCOLOR);

}

.footer-references img {
    width: 1.5rem;
    height: auto;
    border-radius: 5px;
}

/* MOBILE STYLES */

@media screen and (max-width: 650px) {
   main .inner-container {
    flex-wrap: wrap;
   }

   .content-conatiner {
        font-size: 1.2rem;
    }
    

}

